#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(9, 46, 64);
  }
  
  #choice {
    float: left;
    /* position: absolute; */

  }
  
   #choice a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #choice:hover{
    background-color: #111;
  }
  

  body {
    margin:0;
  }
