


#containMusic{

  position: absolute;
  width: 600px;
  height:670px;
  /* padding: 1em 3em 2em 3em; */
  /* margin: 0em auto; */

  /* background-color: #000000; */
  background-color: rgba(19, 82, 107, 0.3);

  border-radius: 4.2px;
  /* box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2); */

  /* height:20%; */

  left: 10px;
  top:170px;

}

#containMusic button{

position: absolute;

  right: 20px;

}



#container {
  position: absolute;
  /* max-width: 38em; */
  width: 650px;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;

  background-color: rgba(19, 82, 107, 0.3);
    /* background-color: rgba(16, 83, 109, 0.3); */

  /* background: transparent; */

  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  /* left: 20px; */
  height:100px;

  left: 650px;
  top:170px;

}

#meditateTxt{

  font-size: 180%;
  font-style: sans-serif;
  
}



#container2 {
  position: absolute;
  /* max-width: 38em; */
  width: 340px;

  padding: 1em 3em 2em 3em;
  margin: 0em auto;

  background-color: rgba(19, 82, 107, 0.3);
  /* background: transparent; */

  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  /* left: 20px; */
  height:450px;

  left: 650px;
  top:340px;
}

#meditateTxt2{
  font-size: 130%;
  font-style: sans-serif;
}


#container3 {
  position: absolute;
  /* max-width: 38em; */
  width: 190px;

  padding: 1em 3em 2em 3em;
  margin: 0em auto;

  background-color: rgba(19, 82, 107, 0.3);
  /* background: transparent; */

  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  /* left: 20px; */
  height:450px;

  left: 1110px;
  top:340px;
}

#meditateBtn{
    /* position: absolute; */
    /* top: 40%;
    left: 45%; */
    height: 80px;
    width: 120px;
}



 /* #timeLeft{
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
   
}  */

#timeLeft{
  /* position: relative;
  text-align: center; */
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
   
} 

/* #timerBox{

  position: absolute;

  visibility: hidden;

  padding: 1em 3em 2em 3em;
  margin: 0em auto;


  background: transparent;

  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  height:4%;


} */




body {
  margin:0;
}

/* div{
  position: absolute;
  color: white;
  font-size: 200%;
} */

/* .header {
  position: absolute;
  width:100%;
  height:15%;
  text-align: center;
  color: white;
  font-size: 100%;
  background:url("header.jpg");
} */

/* #backBtn{
  position: absolute;
  left: 10%;
  height: 80px;
  width: 120px;
}

#fwdBtn{
  position: absolute;
  right: 10%;
  height: 80px;
  width: 120px;
}
 */




h1 {
  /* position: absolute; */


/* 
  top: 30%;
  left: 50%; */

  /* transform: translate(-50%, -50%); */



  text-align: center;

  /* position: absolute; */



  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;



}


#category_title{
  /* text-align: center; */
  padding:20px;


}

#category_title span{


  /* position: absolute; */


/* 
  top: 30%;
  left: 50%; */

  /* transform: translate(-50%, -50%); */
  /* position: absolute; */



  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size:30px;
  font-weight: 888;
  text-transform: uppercase;



  color: rgb(38, 227, 227);
  background-color: rgb(9, 49, 68);
  padding: 10px;
  border-radius: 10px;


}

.catText{

  padding:20px;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size:20px;
  font-weight: 888;
  text-transform: uppercase;



}

.catBackText{

  padding:20px;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size:15px;
  font-weight: 888;
  text-transform: uppercase;



}










#main_title{
  /* text-align: center; */
  margin-left:470px;


}

#main_title span{


  /* position: absolute; */


/* 
  top: 30%;
  left: 50%; */

  /* transform: translate(-50%, -50%); */
  /* position: absolute; */



  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size:30px;
  font-weight: 888;
  text-transform: uppercase;
  font-size: 70px;


  color: rgb(38, 227, 227);
  background-color: rgb(14, 123, 173);
  padding: 10px;
  border-radius: 10px;


}